#sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
}
#sidebar-img{
    height: 20px;
    width: 40px;
    padding-left: 70px;
}
#sidebar ul li{
    list-style: none;
    padding-top: 10px;
}
#sidebar ul li a{
    text-decoration: none;
    color: honeydew;
}
#sidebar button{
    color: honeydew;
}
body{
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    color: black; 
    }
    main{
        padding-left: 250px;
    }